<div class="layout-container">
  {% include "@organisms/header/header.twig" %}
  <main role="main">
    <section class="content">
      <div class="gutenberg-container">
        <div class="alignfull p-0">
          {% include "@organisms/sponsors/sponsors.twig" %}
        </div>
      </div>
    </section>
  </main>
  {% include "@organisms/footer/footer.twig" %}
</div>
