.has-background-image.storybook-demo {
  .site-header {
    max-width: 1368px;
    background: rgb(165 185 200);
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 16px auto 0;
  }
}