@use '@atoms/colors/color' as color;

$radius: 0.35rem;
$border-width: 2px;
$color-bg: transparent;
$offset: 4px;
$transition: 0.3s;

.button,
.wp-block-button {
  font-family: "Poppins", serif !important;
  font-weight: 600 !important;
  outline: solid $border-width color.$primary-black;
  outline-offset: -$border-width;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  letter-spacing: 0.08rem;
  background-color: $color-bg;
  border-radius: $radius;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: color.$primary-black !important;
  z-index: 2;

  &.secondary::after {
    background-color: color.$secondary;
  }

  &::after {
    content: "";
    position: absolute;
    top: $offset;
    left: $offset;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: $radius;
    transition: all $transition ease-in-out;
    background-color: color.$skyblue;
  }

  &:hover {
    outline: solid $border-width color.$primary-black;
    text-decoration: none;
  }

  &:hover::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
