<div class="container-fluid bg-dark py-32 text-light">
  <div class="content container">
    <h1 class="text-light">Page Content</h1>
    <p>This is a sample page layout.</p>
    {% include './pager.twig' %}
  </div>
</div>
