# Ignore IDE settings.
/.idea/

# Ignore scratch space.
/scratch/

# Compose-managed files.
# /vendor/
# /docroot/core/
# /docroot/modules/contrib/
# /docroot/themes/contrib/
# /docroot/profiles/contrib/

# Ignore configuration files that may contain sensitive information.
# /docroot/sites/*/services*.yml

# Ignore paths that contain user-generated content.
/docroot/sites/default/files/
/docroot/sites/default/settings.local.php
/docroot/sites/default/private/
/private_files/

node_modules
/.drush-lock-update
.phpcs-cache

# Ignore .vscode folder.
.vscode/

# Ignore docroot/libraries.
# /docroot/libraries/