<div class="announcement-card-row">
  {% for announcement in announcements %}
    {% include "@molecules/announcement-card/announcement-card.twig" with {
      title: announcement.title,
      date: announcement.date,
      description: announcement.description,
      link: announcement.link
    } %}
  {% endfor %}
</div>
