<div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
  <div class="wp-block-group__inner-container">
    <div class="wp-block-columns two-column-text-image">
      <div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow">Eiusmod fugiat sit non dolor laboris in dolor. Tempor ex enim enim consequat sint cupidatat labore. Amet ipsum sit consectetur adipisicing id aliquip aliquip exerci laborum commodo proident esse.</p>
        <p class="has-roboto-mono-font-family">Fugiat nisi voluptate mollit exercitation ipsum eiusmod. Elit cupidatat cupidatat reprehenderit id quis officia sint sint. Ipsum et ut ea do minim reprehenderit officia sit id excepteur elit. Incididunt irure sint velit sint.</p>
      </div>
      <div class="wp-block-column is-vertically-aligned-center is-layout-flow wp-block-column-is-layout-flow" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
        <figure class="wp-block-image aligncenter size-original has-custom-border d-flex"><img src="https://placehold.co/480x256" alt="Drupal GovCon" style="border-radius:4px"></figure>
      </div>
    </div>
  </div>
</div>
