<form class="views-exposed-form">
  <div class="js-form-item form-item form-type-textfield">
    <label>Session Track</label>
    <input type="text" class="form-text">
  </div>

  <div class="js-form-item form-item form-type-select">
    <label>Experience Level</label>
    <select class="form-select">
      <option>- Any -</option>
      <option>Beginner</option>
      <option>Intermediate</option>
      <option>Advanced</option>
    </select>
  </div>

  <div class="js-form-item form-item form-type-select">
    <label>Conference Year</label>
    <select class="form-select">
      <option>- Any -</option>
      <option>2025</option>
    </select>
  </div>

  <div class="js-form-item form-item form-type-textfield">
    <label for="edit-keys">Text Search</label>
    <input type="text" name="keys" value="" size="15" maxlength="128" class="form-text">
   </div>

  <div class="form-actions js-form-wrapper form-wrapper d-flex gap-16">
    <input type="submit" value="Filter" class="button js-form-submit form-submit minimal">
  </div>
</form>
