@use '@atoms/colors/color.scss' as color;
@use "sass:map";


.session_archive {
  padding: 50px 0;

  .session_archive-container {
    &-page_title {
      .session_page_title {
        color: map.get(color.$colors, "deep-sky");
      }
    }

    &-description {
      padding: 20px 0;
    }
    
    .session_group {
      padding: .35em .625em .75em;
      margin: 1em 0 2em;
      border: 1px solid map.get(color.$colors, "gray");
      border-radius: 0; 

      &-content {
        margin: 15px 0;
        
        &-item {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: map.get(color.$colors, "black");
          }
        }

        &_label {
          margin: .25rem .5rem .25rem 0;
          padding: .25rem .5rem;
          background: map.get(color.$colors, "light-yellow");
          font-weight: 700;

          &::after {
            content: ":";
          }
        }
      }
    }

    .session_label {
      width: fit-content;

      span {
        background-color: map.get(color.$colors, "navy-blue");
        color: map.get(color.$colors, "light");
        font-weight: 700;
        padding: .25em .5em;
        text-transform: uppercase;
        letter-spacing: .02em;
      }
    }
  }
}
