@use '@atoms/colors/color.scss' as color;
@use '@base/mixins.scss' as mixins;

nav {
  display: block;

  ul {
    padding: 0;
    list-style: none;
  }

  ul.main-menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    li {
      position: relative;
      padding: 20px 0 36px;
      transition: all 0.3s ease;

      &.has-below {
        position: relative;

        .chevron-icon {
          display: none;
        }
      }

      &.has-below::after {
        content: "";
        position: absolute;
        bottom: -85px;
        left: 0;
        width: 100%;
        height: 120px;
        background: transparent;
        pointer-events: none;
      }

      a {
        text-decoration: none;
      }

      &.active a {
        text-decoration: underline;
      }

      &:hover {
        a:not(.button) {
          text-decoration: underline;
        }

        ul.dropdown-menu {
          display: block;
        }
      }
    }
  }

  ul.dropdown-menu {
    display: none;
    position: absolute;
    top: 82px;

    @include mixins.media-breakpoint-up(lg) {
      background: color.$light;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: -1;
    }

    li {
      padding: 16px;
      z-index: 3;

      &:hover,
      &.active {
        @include mixins.media-breakpoint-up(lg) {
          background: color.$skyblue;
          text-decoration: none;
        }
      }

      a {
        font-weight: 400;
        font-size: 22px;
        white-space: nowrap;
        text-decoration: none !important;
      }
    }
  }
}

@include mixins.media-breakpoint-down(lg) {
  nav {
    ul.main-menu {
      li {
        &.has-below {
          position: relative;

          .chevron-icon {
            display: inline-block;
            font-size: 8px;
            background-size: contain;
            position: absolute;
            right: 10px;
            top: 55%;
            transform: translateY(-50%);
            cursor: pointer;
          }

          &.open .chevron-icon {
            transform: rotate(180deg);
            top: 0%;
          }

          ul.dropdown-menu {
            display: none;
          }

          &.open ul.dropdown-menu {
            display: block;
            position: relative;
            padding: 0px 0px 1px;
            margin: 10px 0;
            width: 100%;
            top: 0;
          }
        }
      }
    }
  }
}