<div class="wp-block-columns">
  <div class="wp-block-column">
    {% include "@molecules/patterns/card/vertical-card/vertical-card.twig" %}
  </div>

  <div class="wp-block-column">
    {% include "@molecules/patterns/card/vertical-card/vertical-card.twig" %}
  </div>

  <div class="wp-block-column">
    {% include "@molecules/patterns/card/vertical-card/vertical-card.twig" %}
  </div>
</div>
