  <div class="layout-container" id="page-wrapper">
    {% include "@organisms/header/header.twig" %}
    <main role="main">
      <section class="content">
        <div class="gutenberg-container">
          <div class="alignfull p-0">
            {% include "@organisms/all-announcement/all-announcement.demo.twig" %}
          </div>
        </div>
      </section>
    </main>
    {% include "@organisms/footer/footer.twig" %}
  </div>
