@use "@base/utilities.scss" as utility;
@use "@base/mixins.scss" as mixins;

/* Gutenberg Layout Handling */
.wp-block-columns {
  max-width: utility.$container-width;
  margin: 0 auto;
  padding-inline: 16px;
}

.alignwide {
  max-width: utility.$container-wide;
}

.alignfull {
  max-width: utility.$container-fluid-width;
}

main .wp-block-group:nth-child(1) {
  &:not(.alignwide):not(.alignfull) {
    max-width: utility.$container-width;
    margin: 0 auto;
    padding-inline: 16px;
  }
}

/* Buttons */
.wp-block-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;

  .wp-block-button__link {
    display: inline-block;
    text-align: center;
    background-color: unset;
    border-radius: 0;
    box-shadow: none;
    color: unset;
    font-size: 1.125em;
    padding: 0;
    text-decoration: none;
  }
}

/* Gutenberg Editor Styling */
.block-editor-block-patterns-list {
  .block-editor-block-preview__container {
    padding-top: 20px !important;

    iframe {
      max-width: none !important;
    }
  }

  div[data-wp-component="VisuallyHidden"] {
    height: auto !important;
    width: auto !important;
    clip: unset !important;
    clip-path: unset !important;
  }
}

/* General Block Styling */
.editor-styles-wrapper .wp-block {
  margin-inline: unset;
}

.wp-block-image {
  margin: 0;

  @include mixins.media-breakpoint-up(md) {
    img {
      max-width: unset;
    }
  }
}

/* Utility Classes */
.wp-block-group-is-layout-flex {
  display: flex;
}

.wp-block-group-is-layout-constrained {
  display: block;
}

.is-vertical {
  display: flex;
  flex-direction: column;
}

.is-layout-flex {
  display: flex !important;
}

@include mixins.media-breakpoint-down(md) {
  .horizontal-card {
    flex-direction: column;
  }
}
