<ul>
  <li class="border grid">
    <span class="g-col-2 p-1">
      Icon
    </span>
    <span class="g-col-10 p-1">
      Name
    </span>
  </li>
  {% for icon in icons %}
    <li class="border grid">
      <span class="icon icon--{{ icon.name }}"></span>
      <span class="">
        {{ icon.name }}
      </span>
    </li>
  {% endfor %}
</ul>
