@use '@atoms/colors/colors.layout.scss';
@use '@atoms/icons/icons-preview.scss';
@use '@atoms/link/link.demo.scss';
@use '@molecules/footer-menu/footer-menu.storybook.scss';
@use './gutenberg/gutenberg-storybook.scss';
@use '../../../../modules/contrib/gutenberg/js/vendor/gutenberg/block-library/style.css';
@use '@organisms/announcement-listing/announcement-listing-demo.scss';

div#storybook-root,
.sbdocs-preview {
  padding: 2rem;
}

div#storybook-root:has(.site-header), div#storybook-root:has(.site-footer) {
  padding: 0rem;
}

#story--atoms-button--primary, #story--atoms-button--secondary {
  height: 130px;
  display: flex;
  align-items: center;
}
