<div class="wp-block-columns bg-primary p-32">
  <div class="wp-block-column" style="flex-basis:35%">
    {% include "./announcement-listing.twig" %}
  </div>
  <div class="wp-block-column"></div>
</div>
