<div class="cta_card-container">
  <div class="cta_card-container--description">
    <p>{{ description }}</p>
  </div>
    {% include '@atoms/button/button.twig' with { label: cta_label, url: cta_url, modifier: "button primary"} %}
</div>
