<div class="wp-block-group has-surface-background-color has-background is-layout-constrained wp-block-group-is-layout-constrained" style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--20);padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
  <div class="wp-block-group__inner-container">
    <figure class="wp-block-image size-original is-style-default">
      <img src="https://placehold.co/380x270.png" alt="" style="aspect-ratio:3/2;object-fit:cover"></figure>

      <div class="wp-block-group is-content-justification-center is-layout-constrained wp-block-group-is-layout-constrained" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:0">
        <div class="wp-block-group__inner-container">
          <h3 class="wp-block-heading">
            Heading
          </h3>

          <p>
            Welcome to our platform! Here, you can explore a variety of features designed to enhance your experience. Dive in and discover all the possibilities!
          </p>

          <div class="wp-block-buttons">
            <div class="wp-block-button">
              <a class="wp-block-button__link wp-element-button" href="/node/1">
                Button
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  