@use '@atoms/colors/color' as color;
@use '@base/mixins.scss' as mixins;

.listing-card .upper-card {
  flex-direction: row;
  gap: 2rem;
}

.listing-card__content {
  text-align: left;
}

.listing-card__fields {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.listing-card__field {
  font-weight: bold;
}
