$colors: (
  "skyblue": #7AD1E7,
  "dark-blue": #107DB5,
  "primary": #285A83,
  "primary-dark": #213B75,
  "secondary": #F93E5A,
  "light": #F4FAFF,
  "dark": #132B3F,
  "primary-black": #202020,
  "gray": #868686,
  "cobalt": #014AB9,
  "indigo": #003381,
  "violet": #4A00DE,
  "light-blue": #B1DCFF,
  "white": #FFFFFF,
  "black": #000000,
);

$skyblue: #7AD1E7;
$dark-blue: #107DB5;
$primary: #285A83;
$primary-dark: #213B75;
$secondary: #F93E5A;
$light: #F4FAFF;
$dark: #132B3F;
$primary-black: #202020;
$gray: #868686;
$cobalt: #014AB9;
$indigo: #003381;
$violet: #4A00DE;
$light-blue: #B1DCFF;
$white: #FFFFFF;
$black: #000000;