<div class="announcement-card bg-skyblue d-flex p-32 border-radius-xxs justify-between flex-column">
  <h3 class="mb-4">
    {{ title }}
  </h3>
  <p class="mb-0">
    {{ date }}
  </p>
  <hr class="has-text-color has-primary-color has-primary-background-color has-background my-16" />
  <p class="announcement-description">
    {{ description }}
  </p>
  {% if link %}
    {% set additional_classes = ["text-cobalt", "mb-0", "h4", "icon--arrow-right", "icon-after", "text-decoration-none"] %}

    {% include "@atoms/link/link.twig" with {
      link_url: link.url,
      link_title: link.title,
      link_target: link.target,
      link_content: link.content,
      link_classes: link.classes|merge(additional_classes)
    } %}
  {% endif %}
</div>
