<div class="container link__demo">
  <h1>
    Links
  </h1>
  <hr>
  <br>
  <h2>
    Default link
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo debitis laboriosam corrupti
    {% include "./link.twig" with {
      link_url: link_url,
      link_title: link_title,
      link_target: link_target,
      link_content: link_content,
      link_classes: link_classes
    } %}
    quas voluptates, assumenda perferendis ea ut, vero provident eligendi. Nam amet quas vel minima ipsa quibusdam
    dolores? Autem, consequatur quaerat.
  </p>
  <br>
  <h2>
    Hovered link
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo debitis laboriosam corrupti
    {% include "./link.twig" with {
      link_url: link_url,
      link_title: link_title,
      link_target: link_target,
      link_content: link_content,
      link_classes: ['hover']
    } %}
    quas voluptates, assumenda perferendis ea ut, vero provident eligendi. Nam amet quas vel minima ipsa quibusdam
    dolores? Autem, consequatur quaerat.
  </p>
  <br>
  <h2>
    Visited link
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo debitis laboriosam corrupti
    {% include "./link.twig" with {
      link_url: link_url,
      link_title: link_title,
      link_target: link_target,
      link_content: link_content,
      link_classes: ['visited']
    } %}
    quas voluptates, assumenda perferendis ea ut, vero provident eligendi. Nam amet quas vel minima ipsa quibusdam
    dolores? Autem, consequatur quaerat.
  </p>
</div>